.quota {
    width: 100%;
    &-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }

      input {
        height: 15px;
        width: 15px;
      }
}